body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background: rgb(2,0,36);
    background: linear-gradient(250deg, rgba(2,0,36,1) 0%, rgb(56, 166, 170) 35%, rgba(0,212,255,1) 100%);
}

.quem-somos{
    background: rgb(2,0,36);
    background: linear-gradient(231deg, rgba(2,0,36,1) 0%, rgba(168,176,185,0.009307946811537127) 45%, rgba(0,212,255,1) 100%);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(211,220,230,0.009307946811537127) 35%, rgba(0,212,255,1) 100%);
}

.servicos{
    color: whitesmoke;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(168,176,185,0.009307946811537127) 35%, rgba(0,212,255,1) 100%);
}

.bg-footer{
    background-color: black;
    color: white;
    font-size: medium;
}